- var scopes = ['5460,5463','5463,6899','5463','5460,5463','5463'];
- var doctors = ['12767','13016','3','4','5'];
section.team-slider.splide#team-slider.section
    .container
        .team-slider__inner
            h2.team-slider__title.title Специалисты семейной медицины
            section(aria-label="Карусель специалистов")
                .splide__track
                    .team-slider__slidingHover(aria-hidden='true')
                    ul.team-slider__list.splide__list
                        - for (let i = 0; i < 5; i++)
                            li.team-slider__item.splide__slide
                                section.team-slide-card
                                    section.team-slide-card__tail
                                        .team-slide-card__picture
                                            img(data-splide-lazy=`./img/doc-pic-${i + 1}.jpg`, alt='Имя')
                                        section.team-slide-card__description
                                            p.team-slide-card__name Имя Фамилия
                                            p.team-slide-card__location
                                                i.icon.paste-sprite-location-icon
                                                | Сетубал, Лиссабон
                                    footer.team-slide-card__footer
                                        button.team-slide-card__appointmentBtn.button.button--outlined.js-appointment-btn(
                                            type='button',
                                            aria-label='Записаться',
                                            data-appointment-type='doctor',
                                            data-doctor-id=doctors[i],
                                            data-servie-id=`${i + 1}`,
                                            data-scope-id='5463',
                                            data-defscope-id=scopes[i],
                                            data-dialog-id="widget").js-open-dialog
                                            span Записаться
            footer.team-slider__footer.splide__arrows.splide__arrows--widget
                button.team-slider__prevBtn.team-slider__navBtn.splide__arrow.splide__arrow--prev.button.button--outlined.button--icon(type='button', aria-label='Предыдущий слайд')
                    i.icon.paste-sprite-caret-left-icon
                a.team-slider__allBtn.button.button--big(type='button', aria-label='Подробнее о специалистах', href='./team/index.html')
                    span Подробнее о специалистах
                button.team-slider__nextBtn.team-slider__navBtn.splide__arrow.splide__arrow--next.button.button--outlined.button--icon(type='button', aria-label='Следующий слайд')
                    i.icon.paste-sprite-caret-left-icon